@font-face {
    font-family: 'Brand';
    src: url('../fonts/BRAND.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }



.tartas-section {
    padding: 0.5rem 0.5rem 2.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .tartas-section h2 {
      font-family: "Brand", cursive;
      font-style: normal;        
      margin: 0.5rem 0rem;
      font-size: 3rem;
      padding-bottom: 1rem;
  }
  .tartas-img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  .tartas-section p {
    font-family: 'Gotu';
    font-size: medium;
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0 2rem;
  }
